<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.com">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Avaliable Books</title>
    <link rel="icon" type="image/x-icon" href="/Pictures/Book_Store_Logo-removebg-preview.png">
    
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
            font-size: 20px;
        }
        h1 {
            font-family: 'Times New Roman', Times, serif;
        }
        p {
            font-family: Verdana, Geneva, sans-serif;
            font-style: italic;
        }
    </style>
    <style>
        .nav-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: lightblue;
            color: white;
            text-decoration: none;
            border: none;
            border-radius: 4px;
            margin-right: 10px;
        }
    </style>
        <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>

  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
     <a class="navbar-brand" href="#">
    <img src="/Pictures/Book_Store_Logo-removebg-preview.png" alt="Logo" style="width: 100px; height: auto;">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <button class="nav-button" onclick="window.location.href='/'">Home</button>
        </li>
        <li class="nav-item">
<!--          <a class="nav-link text-white" href="avaliable_books">Avaliable Books</a>-->
<button class="nav-button" onclick="window.location.href='avaliable_books'">Avaliable Books</button>
        </li>
         <li class="nav-item">
          <button class="nav-button" onclick="window.location.href='my_books'">My Books</button>
        </li>
      </ul>
      <div>
          <button class="nav-button" onclick="window.location.href='book_register'">New Book Register</button>
	  </div>
    </div>
  </div>
</nav>

    <div class="container my-5 col-md-6">
		<h3 class="text-center" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bold;"><img src="Pictures/1-removebg-preview.png" alt="Books Image" style="width: 150px; height: auto; margin-right: 10px;">Avaliable Books</h3>
		<table class="table  table-striped table -hover">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="b :${book}">
      <td th:text="${b.id}"></td>
      <td th:text="${b.name}"></td>
      <td th:text="${b.author}"></td>
      <td th:text="${b.price}"></td>
      <td><a class="btn btn-secondary btn-sm" th:href="@{/mylist/{id}(id=${b.id})}">Add to Mybooks</a>
      
      <a style="color: blue;" th:href="@{/editBook/{id}(id=${b.id})}"><i class="fa-solid fa-pen-to-square fa-bounce ms-4"></i></a>
      
      <a style="color: red;" th:href="@{/deleteBook/{id}(id=${b.id})}"><i class="fa-solid fa-trash fa-bounce ms-4"></i></a>
      </td>
    </tr>




  </tbody>
</table>
	</div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
  
  </body>
</html>